Package: Locate
Version: 2.12-1
Section: File
Priority: Optional
Maintainer: Stephen Fryatt <info@stevefryatt.org.uk>
Standards-Version: 0.6.0
Environment: arm
Licence: Free
Description: Locate is a flexible, multitasking file search utility
 Locate is a file search utility that allows objects to be found based on a
 flexible set of criteria. Filenames can include wildcards and matches can
 depend on file size, modification date, file type, file attributes or file
 contents.
 .
 The objects shown in the match window can be easily accessed: files and
 applications can be run directly and directories opened. It is also easy to
 view the files by opening their parent directories. The results of a search
 can be saved out to disc for future reference or so that the search
 parameters can be re-used.
Homepage: http://www.stevefryatt.org.uk/software/locate/
Components: Apps.File.!Locate (Movable)
